<!-- header start -->
<div class="wrapper">
	<div class="">
		<nav class="navbar">
			<div class="row nav-row">
				<div>
					<a>
						<img src="./../../assets/logo.png" height="130px" alt="">
					</a>
				</div>
				<div class="float-right">
					<a class="nav-link">(669) 317-3867</a>
				</div>
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg bg-light text-align-center">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Service
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li><a class="dropdown-item" href="#">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Service Area</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Reviews</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Photos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</nav>
	</div>
</div>
<!-- header end -->

<!-- body start -->
<div class="aboutUs">
	<h1>About Bayside Home Improvement Inc</h1>
	<h2> <em>From the Owner, Samuel</em> </h2>
	<p>&nbsp;</p>
	<p><img src="../../assets/aboutus.jpg"  height="333px" width="500px" alt=""></p>
	<p>I come from a family with deep roots in the industry. My mother was an interior home designer and father was a specialist in rehabilitating homes. I remember them working together when I was a young kid along with my uncle, he’s an architect. My parents bringing me along in those early years really gave me the passion I have for my job today.</p>
	<p>Here at Bayside Home Improvement Inc, our overall approach to the work and process. We have a very organized system to make sure our communication with our clients is always there and get the best design and finish work through our cutting edge technology. We specialize in complete home remodeling, kitchen remodeling, bathroom remodeling and additions.</p>
	<p>Our mission is to be the #1 company in the Bay Area by providing our customers with and easy stress free process from the initial consultation to the final walk through.</p>
	<p>&nbsp;</p>
	<hr>
	<h3><strong>Call for a FREE Quote</strong></h3>
	<p><span class="numberStyle">
		<strong>(669) 317-3867</strong>
	</span></p>
	<hr>
	<p>&nbsp;</p>

	<div class="pricing">
		<div style="background-color: black;"><span >Get a  Price</span></div>		
		<div><input type="text" placeholder="Name"> <br>
			<input type="text" placeholder="Email"><br>
			<input type="text" placeholder="Phone Number"><br>
			<textarea name="Txt" id="" cols="30" rows="5" placeholder="Enter Your Message"> 
			</textarea><br>
			<button>Submit</button>
		</div>
	</div>

	<div class="box">
		<h3>Credit Cards Accepted</h3>
		<p>&nbsp;</p>
		<img src="../../assets/credit.png" alt="">
	</div>

	<div class="box">
		<h3>Social Media</h3>
		<p>&nbsp;</p>
		<div class="mediaList">
			<a href="https://search.google.com/local/writereview?placeid=ChIJwZKflUzLj4ARm8OA9t7ViaA" target="_blank" title="google">
				<img src="../../assets/google_icon_43x43@2x.png"  width="43px" height="43px" alt="">
			</a>
			<a href="https://www.yelp.com/biz/bayside-home-improvement-san-jose-2" target="_blank" title="yelp">
				<img src="../../assets/yelp43x43@2x.png"  width="43px" height="43px" alt="">
			</a>
			<a href="https://www.houzz.com/pro/webuser-586508170/__public" target="_blank" title="houzz">
				<img src="../../assets/houzz_43x43@2x.png"  width="43px" height="43px" alt="">
			</a>
			<a href="https://www.bbb.org/us/ca/san-jose/profile/general-contractor/bayside-home-improvement-inc-1216-1641095" target="_blank" title="bbb">
				<img src="../../assets/bbb_43x43@2x.png"  width="43px" height="43px" alt="">
			</a>
		</div>
	</div>


	

	</div>
<!-- body end -->

<!-- footer start -->
<footer>
	<div class="footer"><br>
		Bayside Home Improvement Inc<br>
		San Jose, CA 95112<br><br>
		<h3><span class="rounded border border-white p-1"> (669) 317-3867 </span></h3><br>
		(408) 966-3005<br><br>
		Privacy Policy<br><br>

		Copyright © 2023 - 99 Calls
	</div>
</footer>
<!-- footer end -->
