.navbar {
    background-color: black !important;
    
}

.nav-link{
    color: #ffc32e;
    font-size: 36px;   
}

.nav-row{
    display: contents ;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    max-width: 980px;
    margin: auto;
}

.list {
    color: white;
    text-align: center!important;
    width: 100%;
    display: inline-block !important;
    list-style: none !important;
}

.container-fluid{
    text-align: center!important;
}

.footer{
    background-color: black !important;
color: white !important;
text-align: center!important;
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}




@media (max-width: 575.98px) {
    i.fas.fa-helicopter{
    display: none;
}
.search-btn{
    padding: 0px !important;

 }
 ul.rates {
    width: max-content;
}
ul.rates p{
    word-break: break-word;
}
li.box {
    height: 100px;
        width: min-content !important;
}
.headerVal{
    display: none;
}
.icon{
    display: none;
}
i.fas.fa-angle-down{
    display: none;
}
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .user-name{
           font-size: 10px !important;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
      .user-name{
           font-size: 10px !important;
    }
    .font-icon{
    height: 70px
}
     .fa-2x {
    font-size: 1em !important;
}
ul.rates {
    width: revert;
    text-align: center;
}
li.box {
    height: 100px;
}
button.btn.text-white.pl-4.pr-4 {
    white-space: nowrap;
    font-size: 10px;
}
.headerVal{
    display: none;
}
i.fas.fa-angle-down{
    display: none;
}
}
@media (min-width: 1024px) and (max-width:1439.98px)  { 
    i.fas.fa-angle-down{
       display: none;
   }
    .head1{
        display: inline;
       position: relative;
       top: 25%;
    }
    
}
@media (min-width:1440px){
    i.fas.fa-angle-down{
        display: inline;
    } 
    .head1{
        display: inline;
       position: relative;
       top: 25%;
    } 
}

