.navbar {
    background-color: black !important;
    
}

.nav-link{
    color: #ffc32e;
    font-size: 36px;  
    padding: 0px 
}
.nav-item .nav-link{
    font-size: 16px;   
    color: white;
    text-align: center!important;
    padding: 10px 22px;
    text-transform: uppercase;
}

.mediaList .icon{
    padding: 10px;
}

.input-field {
    border: 1px solid #d4d4d4;
    color: #555;
    font-weight: normal;
    padding: 10px;
    width: 92%;
    font-size: 14px;
    margin: 20px;
}

.btn-submit{
    background:  #ffc32e;
    border: medium none;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    width: 92%;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 10px;
}

.pricingbox{
    border-style: groove;
    border-color: black;
}

.nav-row{
    display: contents ;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    max-width: 980px;
    margin: auto;
}

.list {
    color: white;
    text-align: center!important;
    width: 100%;
    display: inline-block !important;
    list-style: none !important;
}

.container-fluid{
    text-align: center!important;
}

.footer{
    background-color: black !important;
color: white !important;
text-align: center!important;
/* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;

}

.aboutUs{
    text-align: center!important;
    max-width: 980px;
    margin: auto; 
}
.headerOne{
    max-width: 980px;
    margin: auto;  
    background-color: black;
    padding-top: 0px;
}

.headerTwo{
    margin: auto;

}

.navMain{
    background-color: black; 
}

.p{
    text-align: center;
}
.numberStyle{
    font-size:36px;
    color: #ffc32e;
    font-size: 36px;  
}
li:hover {
    background-color: #ffc32e !important;
  }
.pricing{
    background: #f6f7fe;
    padding: 0px 1px 1px 1px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    overflow: hidden;
    margin: 35px auto 35px;
    max-width: 600px;
    border-color: black !important;
    border-width: 1px !important;
}

.box{
    border-color: #f0f0f0;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    max-width: 600px;
    margin: 35px auto 35px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item{
    color: white;
    
}

.dropdown-item:hover{
    background-color: black !important;
    text-decoration: underline; 
}






@media (max-width: 575.98px) {
    i.fas.fa-helicopter{
    display: none;
}
.search-btn{
    padding: 0px !important;

 }
 ul.rates {
    width: max-content;
}
ul.rates p{
    word-break: break-word;
}
li.box {
    height: 100px;
        width: min-content !important;
}
.headerVal{
    display: none;
}
.icon{
    display: none;
}
i.fas.fa-angle-down{
    display: none;
}
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .user-name{
           font-size: 10px !important;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
      .user-name{
           font-size: 10px !important;
    }
    .font-icon{
    height: 70px
}
     .fa-2x {
    font-size: 1em !important;
}
ul.rates {
    width: revert;
    text-align: center;
}
li.box {
    height: 100px;
}
button.btn.text-white.pl-4.pr-4 {
    white-space: nowrap;
    font-size: 10px;
}
.headerVal{
    display: none;
}
i.fas.fa-angle-down{
    display: none;
}
}
@media (min-width: 1024px) and (max-width:1439.98px)  { 
    i.fas.fa-angle-down{
       display: none;
   }
    .head1{
        display: inline;
       position: relative;
       top: 25%;
    }
    
}
@media (min-width:1440px){
    i.fas.fa-angle-down{
        display: inline;
    } 
    .head1{
        display: inline;
       position: relative;
       top: 25%;
    } 
}

