<!-- header start -->
<div class="wrapper">
	<div class="">
		<nav class="navbar">
			<div class="row nav-row">
				<div>
					<a>
						<img src="./../../assets/logo.png" height="130px" alt="">
					</a>
				</div>
				<div class="float-right">
					<a class="nav-link">(669) 317-3867</a>
				</div>
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg bg-light text-align-center">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Service
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li><a class="dropdown-item" href="#">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Service Area</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Reviews</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Photos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</nav>
	</div>
</div>
<!-- header end -->

<!-- body start -->
<div>
	hii
</div>
<!-- body end -->

<!-- footer start -->
<footer>
	<div class="footer"><br>
		Bayside Home Improvement Inc<br>
		San Jose, CA 95112<br><br>
		<h3><span class="rounded border border-white p-1"> (669) 317-3867 </span></h3><br>
		(408) 966-3005<br><br>
		Privacy Policy<br><br>

		Copyright © 2023 - 99 Calls
	</div>
</footer>
<!-- footer end -->
