<section>
  <div class="container-fluid ">
    <div class="row mt-4 mb-2">

      <div class=" col-xs-12 col-sm-8 col-md-5  p-0 offset-1">
        <div class="form-check-inline">
          <label class="form-check-label ">
            <input type="radio" class="form-check-input" name="optradio">Return
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label ml-3">
            <input type="radio" class="form-check-input" name="optradio" checked="">One way
          </label>
        </div>
        <div class="form-check-inline disabled ml-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" disabled="">Multicity
          </label>
        </div>
      </div>

      <div class=" col-10 offset-1 col-sm-4 col-md-5 col-lg-3 right-side  ">
        <span>1 Adult <i class="fas fa-angle-down"></i><span class="ml-1"> |</span></span>
        <span>Economy <i class="fas fa-angle-down"></i></span>
                       
                  </div>

              </div>

             

                  <div class="row m-1 mb-2"  >
                   
                      <div class="col-12 col-sm-9 offset-sm-1">
                        <div class="row" style="box-shadow: 0px 1px 6px 1px #00000033;">
                          <div class="col-12 col-md-4">
                            <div class="row">
                              <div class="col-3 col-md-3 d-none d-sm-block pl-0 pr-0" style="background-color: #52B1EF;"><span class=" d-none d-md-block"  ><i class="fas fa-helicopter fa-2x pt-3 pl-2" style="color: white;"></i></span></div>
                              <div class="col-12 col-md-9 p-0 pl-2">
                                <span class="m-0 " style="font-size: 10px; ">From</span><br>
                                                        <input class="form-control p-0 " [formControl]="from" list="datalistOptions" id="exampleDataList" style="border: none!important;" [ngClass]="{ 'is-invalid': submitted &&from.errors }">
                                                      <datalist id="datalistOptions">
                                                        <option value="San Francisco">
                                                        <option value="New York">
                                                        <option value="Seattle">
                                                        <option value="Los Angeles">
                                                        <option value="Chicago">
                                                      </datalist>
                                                      <div *ngIf="submitted && from.errors" class="invalid-feedback">
                                                        <div *ngIf="from.errors.required">place required </div>
                                                      </div>
                              </div>
                            </div>            
                            </div>
                                                <div class="col-12 col-md-4 " style="border-right: 0.2px solid #c7c7c7;">
                                                  <div class="row" >
                                                    <div class="col-2 col-md-2 d-none d-sm-block pl-1 pr-0" ><span class="w-25 d-none d-md-block"  ><i class="fas fa-exchange-alt fa-1x pt-4 icon" ></i></span></div>
                                                    <div class="col-12 col-md-10 p-0 pl-2">
                                                      <span class="m-0 " style="font-size: 10px; ">to</span><br>
                                                                              <input class="form-control p-0" [formControl]="to" list="datalistOptions" id="exampleDataList" style="border: none!important;" [ngClass]="{ 'is-invalid': submitted &&to.errors }">
                                                                            <datalist id="datalistOptions">
                                                                              <option value="San Francisco">
                                                                              <option value="New York">
                                                                              <option value="Seattle">
                                                                              <option value="Los Angeles">
                                                                              <option value="Chicago">
                                                                            </datalist>
                                                                            <div *ngIf="submitted && to.errors" class="invalid-feedback">
                                                                              <div *ngIf="to.errors.required">place required </div>
                                                                            </div>
                                                    </div>
                                                  </div>
                            
                                                </div>
                                               
                                                <div class="col-md-2 col-12 date p-0  " style="border-right: 0.2px solid #c7c7c7;">
                                                  <span class="m-0 " style="font-size: 10px;">Depart</span><br>
                                                  <input type="date" [formControl]="depart" style="border:none ;overflow: hidden; font-size: 10px; width: 100%; font-weight: bold;" [ngClass]="{ 'is-invalid': submitted &&depart.errors }"> 
                                                  <div *ngIf="submitted && depart.errors" class="invalid-feedback">
                                                    <div *ngIf="depart.errors.required">select date </div>
                                                  </div> 
       
                                                  
                                                  <!-- <i class="far fa-calendar-alt pl-1" style="color: #BDBDBD;"></i> -->
                                                </div>
                                                <div class="col-md-2 col-12 p-0 ">
                                                  <span class="m-0 " style="font-size: 10px;">Return</span><br>
                                                  <input type="date" [formControl]="return" style="border:none ;overflow: hidden; font-size: 10px; width: 100%; font-weight: bold;" [ngClass]="{ 'is-invalid': submitted &&return.errors }"> 
                                                  <div *ngIf="submitted && return.errors" class="invalid-feedback">
                                                    <div *ngIf="return.errors.required">select date </div>
                                                  </div> 
                                                </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-2 p-0 text-center" style="background-color: #52B1EF;height: auto; font-size: 15px!important;" >
                       
                          <button type="button" (click)="findFlights()" class="btn search-btn text-white pt-3 " style="border: none!important; background-color: #52B1EF;height: auto; font-size: 18px!important;" >Search Again</button>
                        
                      </div>
                    
                      

                    
                  </div>
                </div>
              </section>




              <section class="thrd-3">
                <div class="container-fluied" style="background: #f5f9fb;
               box-shadow: 0px 2px 3px 2px #00000024;">
               <div class="second-menu">
                <div class="row m-0">
                  <div class="col-11 p-0 offset-1">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                      <a class="navbar-brand" href="#" style="font-size: 10px;"><b>Filters</b><i class="fas fa-filter"></i></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav" style="font-size: 10px;">
                        <li class="nav-item">
                          <a class="nav-link text-dark">
                           Stops <span class="stops">0</span>
                           <span class="stops">1</span>
                           <span class="stops">2</span>
                         </a>

                       </li>
                       <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Depart Time
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Action</a>
                        <a class="dropdown-item" >Another action</a>
                        <a class="dropdown-item" >Something else here</a>
                      </div>
                    </li>
                   
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Layover Time
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" >Action</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cabin Class
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" >Action</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Preferred Airlines
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" >Action</a>

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" style="border:none!important"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span style="color:#52B1EF ;"> More Filters</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" >Action</a>

            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

</div>
</div>
    </section>
    <section class="sec-4">
      <section class="cheapest-part">
<ul class="rates">
  <li class="box" style="cursor: pointer;">
    
      <div class="detail">
        <b class="text-dark">Cheapest </b>
        <p class="m-0 mt-2">Zar fromR10,0000</p>
      </div>
    
    
  </li>
  <li class="box" style="cursor: pointer;">
    
      <div class="detail">
        <b>Fastest </b><br>
        <i class="far fa-clock"></i><b>33hrs</b>
      </div>
    
    
  </li>
  <li class="box" style="cursor: pointer;">
    
      <div class="detail">
        <b>Earliest </b><br>
        <i class="far fa-sun"></i><b>6:30Am</b>
      </div>
   
    
  </li>
  <li class="box" style="cursor: pointer;">
   
      <div class="detail" >
        <b>Latest </b><br>
        <i class="far fa-moon"></i><b>22:30Pm</b>
      </div>
    
    
  </li>
  <li class="box" style="cursor: pointer;">
    
      <div class="detail"  >
       
          <b>Baggage </b><br>
          <i class="fas fa-briefcase"></i><b> Free Baggage</b>
        
       
      </div>
      
    
    
  </li>
</ul>

<div  *ngIf="viewFlights">
  <div class="sec3">
    <nav class="navbar navbar-expand" style="background-color: #f4fbff;height: 40px;">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="#" style="border: none; "><b style="font-size: 11px;">One Way | Wed,23 sep</b></a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="icons-right">
            <li><i class="far fa-heart pt-4"></i></li>
            <li><i class="fas fa-share-alt"></i></li>
          </ul>
        </span>
      </div>
    </nav>
    <div class="de">
      <div class="row ">
        <div class="col-md-2 airline  p-4 text-center">
         <img src="./assets/airlinelogo.png" width="30px">
  
         <div>Tukrish Airline</div>
         <div>Economy <span> <i class="fas fa-briefcase pls-2 pr-1"></i>No checked bag</span></div>
         <b>3 MORE FLIGHTS <i class="fas fa-angle-down"></i></b>
       </div>
       <div class="col-md-2 text-center">
        <br><br>
        <b style="font-size: 12px;">19:49</b>
        <p style="font-size: 9px; color: #96A1A5;">New Delhi</p>
      </div>
      <div class="col-md-4 text-center ">
        <br>
        <b style="font-size: 9px;">2h05m</b>
  
        <p style="font-size: 8px; color: #96A1A5;">Non-stop</p>
        <hr class="lines">
      </div>
      <div class="col-md-2 text-center">
        <br><br>
        <b style="font-size: 12px;">19:49</b>
        <div style="font-size:9px; color: #96A1A5;">London-City Airp</div>
        <b style="font-size:8px; color: #89c5dc;">Flight Details</b>
      </div>
  
      <div class="col-md-2 text-center">
        <br>
        <b class="price">ZAR 900.503</b>
        <button type="button" class="btn text-white pl-4 pr-4" style="background-color: #52B1EF;">Book Now</button>
      </div>
    </div>
  </div>
  
  </div>
  <div class="sec3">
  <nav class="navbar navbar-expand" style="background-color: #f4fbff;height: 40px;">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#" style="border: none; "><b style="font-size: 11px;">One Way | Wed,23 sep</b></a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="icons-right">
          <li><i class="far fa-heart pt-4"></i></li>
          <li><i class="fas fa-share-alt"></i></li>
        </ul>
      </span>
    </div>
  </nav>
  <div class="de">
    <div class="row p-2">
      <div class="col-md-2 airline  p-4">
       <img src="./assets/airlinelogo.png" width="30px">
  
       <div>Tukrish Airline</div>
       <div>Economy <span> <i class="fas fa-briefcase pls-2 pr-1"></i>No checked bag</span></div>
       <b>3 MORE FLIGHTS <i class="fas fa-angle-down"></i></b>
     </div>
     <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <p style="font-size: 9px; color: #96A1A5;">New Delhi</p>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <b style="font-size: 9px;">2h10m</b>
  
      <p style="font-size: 8px; color: #96A1A5;">Non-stop</p>
      <hr>
    </div>
    <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <div style="font-size:9px; color: #96A1A5;">London-City Airp</div>
      <b style="font-size:8px; color: #89c5dc;">Flight Details</b>
    </div>
  
    <div class="col-md-2 text-center">
      <br>
      <b class="price">ZAR 900.503</b>
      <button type="button" class="btn text-white pl-4 pr-4" style="background-color: #52B1EF;">Book Now</button>
    </div>
  </div>
  </div>
  
  </div>
  <div class="sec3">
  <nav class="navbar navbar-expand" style="background-color: #f4fbff;height: 40px;">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#" style="border: none; "><b style="font-size: 11px;">One Way | Wed,23 sep</b></a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="icons-right">
          <li><i class="far fa-heart pt-4"></i></li>
          <li><i class="fas fa-share-alt"></i></li>
        </ul>
      </span>
    </div>
  </nav>
  <div class="de">
    <div class="row p-2">
      <div class="col-md-2 airline  p-4">
       <img src="./assets/airlinelogo.png" width="30px">
  
       <div>Tukrish Airline</div>
       <div>Economy <span> <i class="fas fa-briefcase pls-2 pr-1"></i>No checked bag</span></div>
       <b>3 MORE FLIGHTS <i class="fas fa-angle-down"></i></b>
     </div>
     <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <p style="font-size: 9px; color: #96A1A5;">New Delhi</p>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <b style="font-size: 9px;">2h15m</b>
  
      <p style="font-size: 8px; color: #96A1A5;">Non-stop</p>
      <hr>
    </div>
    <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <div style="font-size:9px; color: #96A1A5;">London-City Airp</div>
      <b style="font-size:8px; color: #89c5dc;">Flight Details</b>
    </div>
  
    <div class="col-md-2 text-center">
      <br>
      <b class="price">ZAR 700.503</b>
      <button type="button" class="btn text-white pl-4 pr-4" style="background-color: #52B1EF;">Book Now</button>
    </div>
  </div>
  </div>
  
  </div>
  <div class="sec3">
  <nav class="navbar navbar-expand" style="background-color: #f4fbff;height: 40px;">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#" style="border: none; "><b style="font-size: 11px;">One Way | Wed,23 sep</b></a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="icons-right">
          <li><i class="far fa-heart pt-4"></i></li>
          <li><i class="fas fa-share-alt"></i></li>
        </ul>
      </span>
    </div>
  </nav>
  <div class="de">
    <div class="row p-2">
      <div class="col-md-2 airline  p-4">
       <img src="./assets/airlinelogo.png" width="30px">
  
       <div>Tukrish Airline</div>
       <div>Economy <span> <i class="fas fa-briefcase pls-2 pr-1"></i>No checked bag</span></div>
       <b>3 MORE FLIGHTS <i class="fas fa-angle-down"></i></b>
     </div>
     <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <p style="font-size: 9px; color: #96A1A5;">New Delhi</p>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <b style="font-size: 9px;">2h25m</b>
  
      <p style="font-size: 8px; color: #96A1A5;">Non-stop</p>
      <hr>
    </div>
    <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <div style="font-size:9px; color: #96A1A5;">London-City Airp</div>
      <b style="font-size:8px; color: #89c5dc;">Flight Details</b>
    </div>
  
    <div class="col-md-2 text-center">
      <br>
      <b class="price">ZAR 800.503</b>
      <button type="button" class="btn text-white pl-4 pr-4" style="background-color: #52B1EF;">Book Now</button>
    </div>
  </div>
  </div>
  
  </div>
  <div class="sec3">
  <nav class="navbar navbar-expand" style="background-color: #f4fbff;height: 40px;">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="#" style="border: none; "><b style="font-size: 11px;">One Way | Wed,23 sep</b></a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="icons-right">
          <li><i class="far fa-heart pt-4"></i></li>
          <li><i class="fas fa-share-alt"></i></li>
        </ul>
      </span>
    </div>
  </nav>
  <div class="de">
    <div class="row p-2">
      <div class="col-md-2 airline  p-4">
       <img src="./assets/airlinelogo.png" width="30px">
  
       <div>Tukrish Airline</div>
       <div>Economy <span> <i class="fas fa-briefcase pls-2 pr-1"></i>No checked bag</span></div>
       <b>3 MORE FLIGHTS <i class="fas fa-angle-down"></i></b>
     </div>
     <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <p style="font-size: 9px; color: #96A1A5;">New Delhi</p>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <b style="font-size: 9px;">2h45m</b>
  
      <p style="font-size: 8px; color: #96A1A5;">Non-stop</p>
      <hr>
    </div>
    <div class="col-md-2 text-center">
      <br><br>
      <b style="font-size: 12px;">19:49</b>
      <div style="font-size:9px; color: #96A1A5;">London-City Airp</div>
      <b style="font-size:8px; color: #89c5dc;">Flight Details</b>
    </div>
  
    <div class="col-md-2 text-center">
      <br>
      <b class="price">ZAR 900.503</b>
      <button type="button" class="btn text-white pl-4 pr-4" style="background-color: #52B1EF;">Book Now</button>
    </div>
  </div>
  </div>
  
  </div>
</div>


</section>
      
    </section>