<div class="container">
  <p>&nbsp;</p>
  <h1>Photos</h1>
  <p>&nbsp;</p>
  <div>
    <img class="img" src="../../assets/ghjgh_w600@2x.jpg" width="477px" height="600px" alt=""><br>
    <strong>Bathroom Remolding Services in Santa Cruz, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/fss_w600@2x.jpg" width="600px" height="404px" alt=""><br>
    <strong>Bathroom Remolding Services in Union City, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/hfgh_w600@2x.jpg" width="434px" height="600px" alt=""><br>
    <strong>Kitchen Remolding Services in East Palo Alto, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/hghff_w296@2x.jpg" width="296px" height="247px" alt="">
    <img class="img" src="../../assets/rerererere_w300@2x.jpg" width="300px" height="247px" alt=""><br>
    <strong>Deck Building And Repair Services in Fremont, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/thrhrthrt_w600@2x.jpg" width="600px" height="461px" alt=""><br>
    <strong>Bathroom Remolding Services in Mountain View, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/dfhgdfhgd_w209@2x.jpg" width="209px" height="342px" alt="">
    <img class="img" src="../../assets/rteter_w387@2x.jpg" width="387px" height="342px" alt=""><br>
    <strong>Deck Building Services in Santa Clara, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/waydiffkitchenremodel_w600@2x.jpg" width="600px" height="446px" alt=""><br>
    <strong>Kitchen Remodeling in San Jose, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/diffkitchenremodel_w600@2x.jpg" width="600px" height="455px" alt=""><br>
    <strong>Kitchen Remodeling in San Jose, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/diffbathremodel_w600@2x.jpg" width="600px" height="342px" alt=""><br>
    <strong>Bathroom Remodeling in San Jose, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/bathremodel1_w298@2x.jpg" width="298px" height="397px" alt="">
    <img class="img" src="../../assets/bathremodel2setgoesw1_w298@2x.jpg" width="298px" height="397px" alt=""><br>
    <strong>Bathroom Remodeling in San Jose, CA</strong>
  </div>
  <p>&nbsp;</p>

  <div>
    <img class="img" src="../../assets/kitchenremodel1_w298@2x.jpg" width="298px" height="224px" alt="">
    <img class="img" src="../../assets/kitchenremodel2_w298@2x.jpg" width="298px" height="224px" alt=""><br>
    <img class="img" src="../../assets/kitchenremodel3_w600@2x.jpg" width="450px" height="600px" alt=""><br>
    <strong>Kitchen Remodeling in San Jose, CA</strong>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>




  <app-pricing-socialmedia></app-pricing-socialmedia>
</div>