<div class="container">
  <p>&nbsp;</p>
  <h1>Reviews & Testimonials</h1><br> <br>
  <div class="fullrating">
    Rated <span style="font-weight: bold">5.0</span>
    out of <span>5.0</span>... based on 23 reviews
  </div><br><br>
  <div class="reviewbox">
    <span class="starrating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&nbsp; <strong>-</strong>&nbsp;
    <span class="ratingMsg">"We just finished our bathroom remodel in San Francisco. Shout out to the team. In our first meeting with the company, they listened to my ideas and preferences and also provided some great suggestions.<br>
      The planning and shopping the materials Maria was easy.<br>
      During the project, communication with our project manager was good and Lorenzo’s crew was very professional and attentive to detail.<br>
      All that being said I would definitely recommend them. Thanks to the team for a job well done!</span><br><br>
      <p><span class="ratingAuth">Bob. M, Remodel Design in San Francisco, CA</span></p> 
  </div>
  <br>
  <div class="reviewbox">
    <span class="starrating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&nbsp; <strong>-</strong>&nbsp;
    <span class="ratingMsg">"We just finished our bathroom remodel in San Francisco. Shout out to the team. In our first meeting with the company, they listened to my ideas and preferences and also provided some great suggestions.<br>
      The planning and shopping the materials Maria was easy.<br>
      During the project, communication with our project manager was good and Lorenzo’s crew was very professional and attentive to detail.<br>
      All that being said I would definitely recommend them. Thanks to the team for a job well done!</span><br><br>
      <p><span class="ratingAuth">Bob. M, Remodel Design in San Francisco, CA</span></p> 
  </div>
  <br>
  <br>
  <div class="reviewbox">
    <span class="starrating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&nbsp; <strong>-</strong>&nbsp;
    <span class="ratingMsg">"We just finished our bathroom remodel in San Francisco. Shout out to the team. In our first meeting with the company, they listened to my ideas and preferences and also provided some great suggestions.<br>
      The planning and shopping the materials Maria was easy.<br>
      During the project, communication with our project manager was good and Lorenzo’s crew was very professional and attentive to detail.<br>
      All that being said I would definitely recommend them. Thanks to the team for a job well done!</span><br><br>
      <p><span class="ratingAuth">Bob. M, Remodel Design in San Francisco, CA</span></p> 
  </div>
  <br>
  <br>
  <div class="reviewbox">
    <span class="starrating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&nbsp; <strong>-</strong>&nbsp;
    <span class="ratingMsg">"We just finished our bathroom remodel in San Francisco. Shout out to the team. In our first meeting with the company, they listened to my ideas and preferences and also provided some great suggestions.<br>
      The planning and shopping the materials Maria was easy.<br>
      During the project, communication with our project manager was good and Lorenzo’s crew was very professional and attentive to detail.<br>
      All that being said I would definitely recommend them. Thanks to the team for a job well done!</span><br><br>
      <p><span class="ratingAuth">Bob. M, Remodel Design in San Francisco, CA</span></p> 
  </div>
  <br>
  <br>
  <div class="reviewbox">
    <span class="starrating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>&nbsp; <strong>-</strong>&nbsp;
    <span class="ratingMsg">"We just finished our bathroom remodel in San Francisco. Shout out to the team. In our first meeting with the company, they listened to my ideas and preferences and also provided some great suggestions.<br>
      The planning and shopping the materials Maria was easy.<br>
      During the project, communication with our project manager was good and Lorenzo’s crew was very professional and attentive to detail.<br>
      All that being said I would definitely recommend them. Thanks to the team for a job well done!</span><br><br>
      <p><span class="ratingAuth">Bob. M, Remodel Design in San Francisco, CA</span></p> 
  </div>
  <br>

  <div class="pricing">
    <div style="background-color: black;"><span>Get a Price</span></div>
    <div class="pricingbox">
      <input class="input-field" type="text" placeholder="Name"> <br>
      <input class="input-field" type="text" placeholder="Email"><br>
      <input class="input-field" type="text" placeholder="Phone Number"><br>
      <textarea class="input-field" cols="30" rows="5" placeholder="Enter Your Message"></textarea><br>
      <button class="btn-submit">Submit</button>
    </div>
  </div>

  <div class="box">
    <h3>Credit Cards Accepted</h3>
    <p>&nbsp;</p>
    <img src="../../assets/credit.png" alt="">
  </div>

  <div class="box">
    <h3>Social Media</h3>
    <p>&nbsp;</p>
    <div class="mediaList ">
      <a class="icon" href="https://search.google.com/local/writereview?placeid=ChIJwZKflUzLj4ARm8OA9t7ViaA"
        target="_blank" title="google">
        <img src="../../assets/google_icon_43x43@2x.png" width="43px" height="43px" alt="">
      </a>
      <a class="icon" href="https://www.yelp.com/biz/bayside-home-improvement-san-jose-2" target="_blank" title="yelp">
        <img src="../../assets/yelp43x43@2x.png" width="43px" height="43px" alt="">
      </a>
      <a class="icon" href="https://www.houzz.com/pro/webuser-586508170/__public" target="_blank" title="houzz">
        <img src="../../assets/houzz_43x43@2x.png" width="43px" height="43px" alt="">
      </a>
      <a class="icon"
        href="https://www.bbb.org/us/ca/san-jose/profile/general-contractor/bayside-home-improvement-inc-1216-1641095"
        target="_blank" title="bbb">
        <img src="../../assets/bbb_43x43@2x.png" width="43px" height="43px" alt="">
      </a>
    </div>
  </div>

</div>