<div class="container">
  <p>&nbsp;</p>
  <h1>Serving {{serviceName}}, California</h1><br> <br>

  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/Remodeling contractor 50 x 50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Remodeling Contractor</a><br>
      <span>For a trusted Belmont, CA remodeling contractor, call the experts at Bayside Home Improvement Inc at
        <span class="Headername">(669)
          317-3867</span> today.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/Bathroom remodeling 50 x 50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Bathroom Remodeling</a><br>
      <span>Bathroom Remodeling in Belmont is simple and economical when you call Bayside Home Improvement Inc. For a
        trusted Belmont bathroom remodeling contractor, call Bayside Home Improvement Inc today.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/Kitchen remodeling 50 x 50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Kitchen Remodeling</a><br>
      <span>For quality Belmont, CA kitchen remodeling at a fair price, call Bayside Home Improvement Inc.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/RemodelingGallery50x50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Remodeling Services</a><br>
      <span>From design to wall coverings, ceiling to floor, Bayside Home Improvement Inc provides superior remodeling
        services in Belmont.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/construction design blueprint 50x50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Remodel Design</a><br>
      <span>For quality Belmont remodeling design, or home additions in Belmont call the remodeling experts at Bayside
        Home Improvement Inc.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/new deck 50x50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Deck Building & Repairs</a><br>
      <span>Bayside Home Improvement Inc is the leading Belmont, CA deck building contractor, offering custom deck
        designs and professional installation at reasonable prices.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/Home additions 50 x 50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Home Additions</a><br>
      <span>Bayside Home Improvement Inc provides quality home additions in Belmont including second story additions,
        basement finishing and building off existing foundations. Call today for a free estimate on your Belmont home
        addition project.</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/Garage Renovations 50x50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Garage Renovations</a><br>
      <span>Looking to hire a reputable contractor for garage renovation in Belmont, California? Call Bayside Home
        Improvement Inc at <span class="Headername">(669) 317-3867</span>. We have over 12 years of experience
        transforming garages into beautiful, functional spaces that are sure to increase your biggest investment!</span>
    </div>
  </div>
  <p></p>
  <div class="col-12 row">
    <div class="col-2">
      <img src="../../assets/replacement window 50x50.jpg" width="70px" height="70px" alt="">
    </div>
    <div class="col-10">
      <a class="Headername">{{serviceName}} Replacement Windows</a><br>
      <span>Save energy and money and let Bayside Home Improvement Inc replace the windows in your Belmont home or
        office.</span>
    </div>
  </div>
  <p></p>
  <app-pricing-socialmedia></app-pricing-socialmedia>
</div>