<div class="container">
  <hr>
	<h3><strong>Call for a FREE Quote</strong></h3>
	<p><span class="numberStyle">
			<strong>(669) 317-3867</strong>
		</span></p>
	<hr>
	<p>&nbsp;</p>

  <app-pricing-socialmedia></app-pricing-socialmedia>
	<p>&nbsp;</p>
<h3>Cities Served
</h3>
  <div class="col-12 row">
    <div class="col-4" *ngFor="let obj of SerArry"><a class="serviceList" href="" >{{obj.name}}</a></div>
  </div>
  <p>&nbsp;</p>
  <br><br>
  <button class="btn-submit">Write a review</button>
  <p>&nbsp;</p>

</div>
