<div class="pricing">
  <div style="background-color: black;"><span>Get a Price</span></div>
  <div class="pricingbox">
    <input class="input-field" type="text" placeholder="Name"> <br>
    <input class="input-field" type="text" placeholder="Email"><br>
    <input class="input-field" type="text" placeholder="Phone Number"><br>
    <textarea class="input-field" cols="30" rows="5" placeholder="Enter Your Message"></textarea><br>
    <button class="btn-submit">Submit</button>
  </div>
</div>
<div class="box">
  <h3>Credit Cards Accepted</h3>
  <p>&nbsp;</p>
  <img src="../../assets/credit.png" alt="">
</div>

<div class="box">
  <h3>Social Media</h3>
  <p>&nbsp;</p>
  <div class="mediaList ">
    <a class="icon" href="https://search.google.com/local/writereview?placeid=ChIJwZKflUzLj4ARm8OA9t7ViaA"
      target="_blank" title="google">
      <img src="../../assets/google_icon_43x43@2x.png" width="43px" height="43px" alt="">
    </a>
    <a class="icon" href="https://www.yelp.com/biz/bayside-home-improvement-san-jose-2" target="_blank" title="yelp">
      <img src="../../assets/yelp43x43@2x.png" width="43px" height="43px" alt="">
    </a>
    <a class="icon" href="https://www.houzz.com/pro/webuser-586508170/__public" target="_blank" title="houzz">
      <img src="../../assets/houzz_43x43@2x.png" width="43px" height="43px" alt="">
    </a>
    <a class="icon"
      href="https://www.bbb.org/us/ca/san-jose/profile/general-contractor/bayside-home-improvement-inc-1216-1641095"
      target="_blank" title="bbb">
      <img src="../../assets/bbb_43x43@2x.png" width="43px" height="43px" alt="">
    </a>
  </div>
</div>